.image-box__image {
  max-height: 75vh;
  max-width: 75vw;
  margin: auto;
  z-index: 1;
  }
/* @media screen and (max-width: 540px) {
  .image-box__image {
    max-width: 282px;
    height: 322px;
    padding: 25px;
  }
} */